*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: 0054A5;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: Poppins;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.land-details h1{
    text-align: center;
    color: #0054A5;
    padding: 10px 0;
    background-color: rgb(255, 252, 99, 0.5);
}

.outer-box {
    background-color: #0054A5;
    margin: 40px 60px;
    padding: 20px 20px;
    border-radius: 20px;
}

.inner-box {
    padding: 10px;
    margin: 50px auto; /* centers the box horizontally */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
}

.inner-box h1{
    flex-basis: 100%;
    text-align: left;
    padding-left: 50px;
    font-size: 24px;
    margin-bottom: 10px;
}

.virtual-map {
    width: 92%;
    margin: 70px auto;
    text-align: center;
}
.virtual-map-title{
    flex-basis: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 24px;
    color: white;
    font-weight: 800;
}
.map-image{
    width: 100%;
    border-radius: 20px;
}

/* Style for the Columns */
.column {
    flex-basis: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .column {
        flex-basis: 100%;
    }
}