*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: 0054A5;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: Poppins;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    transition: 0.5s;
}
.navbar ul li:hover::after{
   width: 100%;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-image:url(aboutimg.jpg);
    color: white;
  }
.overview h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-align: center;
    color: white;
}
.overview p{
    margin: 20px auto;
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.landmark h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-align: center;
    color: white;
}
.landmark p{
    margin: 20px auto;
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.site h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-align: center;
    color: white;
}
.site p{
    margin: 20px auto;
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}



